header {
  padding: 0 1%;
  /* z-index: 1; */
  background-color: var(--primary);
  color: var(--secondary);
  background-color: var(--secondary-accent);
  z-index: 100;
  position: relative;
}
header menu {
  width: 40%;
}

header menu li {
  margin: 0 1%;
}
header menu li:first-child {
  background-color: var(--callout-button);
  padding: 0.5% 1%;
  border-radius: 5px;
}
header menu li:last-child button {
  color: var(--primary);
  background-color: var(--secondary);
}
header menu .auth-btn {
  background-color: var(--primary-accent);
  background-color: var(--tertiary-accent);
}
