.sticky {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 2rem;
  z-index: 1;
  margin-right: 1%;
  top: 15rem;
  right: 0;
  border-radius: 10px;
  width: 150px;
}
aside {
  background-color: #fff;
}
aside h4 {
  text-align: center;
  margin-top: 10px;
}
aside a {
  text-align: start;
  padding-left: 1rem;
  padding-right: 3rem;
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .sticky {
    position: static;
    width: 100%;
    margin: 20px 0 0 0;
  }
  aside a {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
}
