header {
    padding:0;
    width: 99%;
}
header ul {
    width: 50%;
}

header ul li {
    margin:0 1% 
}
header ul li:first-child {
    /* Your styles here */
    /* font-weight: bold; */
    padding: 1%;
    border-radius: 8px;
    background-color: var(--border-default);
  }