:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  --primary: #fefffe;
  --secondary: #2d2d2a;
  --tertiary: #4c4c47;
  --primary-accent: #d9d9d9;
  --secondary-accent: #cfc4b1;
  --tertiary-accent: #676127;
  --callout-button: rgb(245, 245, 245);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  padding: 0;
  background-color: var(--primary);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  background-color: var(--primary);
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  margin: 0;
}
h2 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
h3 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0;
}
h4 {
  font-size: 1.2em;
  line-height: 1.1;
  margin: 0;
}
button {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--border-default);
  width: max-content;
  padding: 0.4em 1.5em;
  font-weight: 500;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
li {
  list-style-type: none;
}
.d-a-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.d-b-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-s-flex {
  display: flex;
  justify-content: start;
  align-items: center;
}
.d-e-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.d-b-c-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.d-c-c-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-c-s-flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.hide {
  display: none;
}
.border {
  border: 1px solid var(--border-default);
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
